* {
    padding: 0;
    margin: 0;
}

body,
html {
    padding: 1rem;
    font-family: montserrat;
    font-weight: bold;
    background-color: #361999;
}

header {
    text-align: center;
    color: #361999;
    font-size: 2rem;
}

.flabel {
    font-size: 1rem;
    margin: auto;
}

#main {
    display: flex;
    margin: auto;
    width: 60%;
    /* min-width: 400px; */
    /* background-color: #f3f3f3; */
    border-radius: 10px;
    padding: 2vh 1vw 1vh 1vw;
    justify-content: center;
}

.btn {
    color: #361999;
    font-size: 1em;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid #361999;
}

.btn:hover {
    background-color: #361999;
    color: white;
}

#container {
    padding: 2vw;
    background-color: white;
    border-radius: 2rem;
    max-width: 1000px;
    margin: auto;
}

td {
    vertical-align: top;
    line-height: 2rem;
}

#survey td {
    padding-top: 2rem;
}

legend {
    padding: 0 1.2rem;
}

label {
    padding: 2rem;
}