* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    display: flex;
    font-family: montserrat;
    font-weight: bold;
    padding: 2% 2%;
    background-color: #361999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h2 {
    font-size: 32px;
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    color: #361999;
    font-size: 2rem;
}

.survey-form {
    padding: 1rem;
}

.flabel {
    font-size: 1rem;
    padding-right: 1rem;
}

#main {
    display: flex;
    margin: auto;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 2rem 1rem 1rem 1rem;
    justify-content: center;

}

.btn {
    color: #361999;
    font-size: 1em;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid #361999;
}

.btn:hover {
    background-color: #361999;
    color: white;
}

#container {
    min-width: 480px;
    background-color: white;
    border-radius: 2rem;
    max-width: 1000px;
    align-items: center;
    /* margin: auto; */
}

td {
    vertical-align: top;
    line-height: 2rem;
    
}

#survey td {
    padding-top: 1rem;
}

legend {
    padding: 0 1.2rem;
}